@import "./reset.min.less";
html{
  font-size: 100px;/*640px设计稿尺寸中*/
}
html,body{
  position: relative;
  z-index: -4;
  height: 100%;
  overflow: hidden;
  background: #f4f4f4;
  font-family: 'Microsoft JhengHei';
}
.mainBox{
  position: relative;
  z-index: -3;
  margin: 0 auto;
  max-width: 640px;
  height: 100%;
  background: #fff;
}
.loadingBox,.phoneBox{
  display: none;
  position: relative;
  height: 100%;
  overflow: hidden;
}
// loading
.loadingBox{
  background: #000;
  .title{
    width: 100%;
    height: 1.4rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);//居中
    margin-top: -1.5rem;//居中后，偏上150px
    text-align: center;
    color: #fff;

    h1{
      line-height: .75rem;
      font-size: .5rem;
    }
    h2{
      padding-top: .2rem;
      line-height: .45rem;
      letter-spacing: .04rem;
    }
  }
  .progress{
    width: 4.6rem;
    height: .3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin-top: 1rem;
    background: #fff;
    .current{
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background: -webkit-linear-gradient(left bottom,#5cb85c 0%,#5cb85c 25%,#74c274 25%,#74c274 50%,#5cb85c 50%,#5cb85c 75%,#74c274 75%,#74c274 100%) ;
      background-size: .3rem .3rem;
      animation: loadingMove 1s linear 0s infinite both;
      /*给current设置一个过渡动画：当我们在JS中控制它的宽度在变化的时候，给其一个平稳的过渡动画效果（而不生硬的改变）*/
      transition: .3s;
    }
  }
}

@keyframes loadingMove{
  0%{
    background-position: 0 0;
  }
  100%{
    background-position: 0 -.3rem;
  }
}

/*PHONE*/
.phoneBox{
  position: relative;
  z-index: -2;
  display: block;
  background: url('../img/zf_phoneBg.jpg') no-repeat;
  background-size: 100% 100%;

  h2{
    margin-top: .5rem;
    text-align: center;

    img{
      display: inline-block;
      width: 2.62rem;
      height: 1.25rem;
    }
    span{
       display: none;
       line-height: .3rem;
       font-size: .3rem;
       color: #fff;
       margin-top: .1rem;
       letter-spacing: .05rem;
    }
  }

  .answer{
    // display: none;
    position: absolute;
    width: 5.2rem;
    height: 3.6rem;
    left: 50%;
    margin-left: -2.6rem;
    bottom: .3rem;
    background: url('../img/zf_phoneListen.png') no-repeat;
    background-size: 100% 100%;

    .markMove{
      position: absolute;
      right: -.06rem;
      bottom: .48rem;
      z-index: -1;
      box-sizing: border-box;
      width: 1.6rem;
      height: 1.6rem;
      border-radius: 50%;
      border: .03rem solid #0F0;
      animation: answerMove 1s linear infinite both;
    }
    .markLink{
      .markMove;//把markMove的样式继承过来使用
      z-index: 1;
      animation: none;
      border: none;
      border-radius: 0;
    }
  }

  .hang{
    position: absolute;
    bottom: .3rem;
    left: 50%;
    margin-left: -2.6rem;
    width: 5.2rem;
    height: 6.59rem;
    background: url('../img/zf_phoneDetail.png') no-repeat;
    background-size: 100% 100%;

    //=>初始位置是在PHONE的底部（看不见，溢出内容隐藏），当点击接听按钮后，控制它从底下出来即可（JS中改变样式）
    //可以基于transform改变样式的尽量不要使用传统的样式属性，因为transform操作开启了浏览器的硬件加速性能更高一些
    transform: translateY(6.89rem);
    transition: .3s;

    .markLink{
      position: absolute;
      width: 1.6rem;
      height: 1.6rem;
      left: 50%;
      z-index: 1;
      bottom: .26rem;
      margin-left: -.8rem;
    }
  }
}

@keyframes answerMove{
  from {
    transform: scale(1.2);
  }
  to{
    transform: scale(0);
  }
}